<nav id="main-navigation">
	<ul>
		<li><a routerLink="/hot" class="navigation-item" routerLinkActive="active">hot</a></li>
		<li><a routerLink="/new" class="navigation-item" routerLinkActive="active">new</a></li>
		<li><a routerLink="/rising" class="navigation-item" routerLinkActive="active">rising</a></li>
		<li><a routerLink="/controversial" class="navigation-item" routerLinkActive="active">controversial</a></li>
		<li><a routerLink="/top" class="navigation-item" routerLinkActive="active">top</a></li>
	</ul>
</nav>
